<div class="title">
    <h1>@T("HohoCustomization.Home.SelectHowGift.Title")</h1>
</div>

<div class="how-present">
    <div class="how-present__content">
        <div class="how-present__item grad-1">
            <h2>@T("Hoho.HowToGift.GiftBox.Title")</h2>
            <img alt="Present in gift box" title="Present in gift box" src="~/images/static/box.jpg">
            <p>@T("Hoho.HowToGift.GiftBox.Details")</p>
        </div>
        <div class="how-present__item grad-2">
            <h2>@T("Hoho.HowToGift.Envelope.Title")</h2>
            <img alt="Present in envelope" title="Present in envelope" src="~/images/static/envelope.jpg">
            <p>@T("Hoho.HowToGift.Envelope.Details")</p>
        </div>
        <div class="how-present__item grad-3">
            <h2>@T("Hoho.HowToGift.ECert.Title")</h2>
            <img alt="Send certificate to email" title="Send certificate to email" src="~/images/static/certificate_2.png">
            @* <img alt="Send certificate to email" title="Send certificate to email" src="~/images/static/gift-box.png"> *@
            <p>@T("Hoho.HowToGift.ECert.Details")</p>
        </div>
    </div>
</div>