@model ProductReviewOverviewModel
@{
    var ratingPercent = 0;
    if (Model.TotalReviews != 0)
    {
        ratingPercent = ((Model.RatingSum * 100) / Model.TotalReviews) / 5;
    }
}
@if (Model.AllowCustomerReviews)
{
    <div class="product-review-raiting">
        <div class="product-rating-box">
            <div class="rating">
                <div style="width: @(ratingPercent)%">
                </div>
            </div>
        </div>
        <div class="product-review-links">
            <a href="@Url.RouteUrl("ProductReviews", new { productId = Model.ProductId })">
                @Model.TotalReviews
                @T("Reviews.Overview.Reviews")
            </a>
            @if (Model.CanAddNewReview)
            {
                <span class="separator">|</span>
                @if (Model.TotalReviews > 0)
                {
                    <a href="@Url.RouteUrl("ProductReviews", new { productId = Model.ProductId })">@T("Reviews.Overview.AddNew")</a>
                }
                else
                {
                    <a href="@Url.RouteUrl("ProductReviews", new { productId = Model.ProductId })">@T("Reviews.Overview.First")</a>
                }
            }
        </div>
    </div>
}